<h1 align="center"><%= @user.username %></h1>
<div align="center"><%= link_to "Edit Account", edit_user_registration_path, class: "btn-custom" %></div>
<div class="row">
	</div>
</div>

	<div class="col-md-4 col-md-offset-2 left">
	<h3 align="left"><ins> My Posts </ins></h3>
		<ol>
		<% @user_posts.each do |post| %>
			<li><%= link_to post.title, post_path(post) %></li>
			<%= time_ago_in_words(post.created_at) %> ago <br>
			<br>
		<% end %>
	</div>
