<h1 align="center"><%= @user.username %></h1>
<div align="center"><%= link_to "Edit Account", edit_user_registration_path, class: "btn-custom" %></div>
<div class="row">
	</div>
</div>

<div class="col-md-4 col-md-offset-2 left">
<h4 align="left"> My Posts </h4>
		<% @user_posts.each do |post| %>
			<ul><%= link_to post.title, post_path(post) %></ul>
			<%= time_ago_in_words(post.created_at) %> ago
		<% end %>
</div>
